.dashboard {
    background-color: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 70px;
  box-sizing: border-box;
}

.dash-text {
  max-width: 520px;
}

.dash-text h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
  font-size: 44px;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 25px;
}

.dash-text p {
  color: #bcbcbc;
  line-height: 1.6;
  margin-bottom: 35px;
}

.dash-buttons {
  display: flex;
  gap: 20px;
}

.btn.primary {
  padding: 14px 36px;
  background: white;
  color: black;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
}

.btn.outline {
  padding: 14px 36px;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.dash-spline {
  width: 900px;
  height: 900px;
  overflow: hidden;
}

.dash-spline iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.btn.primary:hover{
  padding: 14px 36px;
  border: 1px solid white;
  background: black;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}